.header {
  position: relative;
  height: 100px;
  background-color: #fff;
}

.header-logo {
  width: 56px;
  height: 56px;
  margin-top: 22px;
  margin-right: 172px;
  background: url(../img/logo.png) no-repeat center/56px 56px;
  text-indent: -9999px;
}

.header-menu > a {
  padding:0 10px;
  font-size: 16px;
  line-height: 100px;
}
.header-menu:hover .header-submenu {
  display: block;
}
.header-submenu {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 30px 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.header-submenu a {
  width: 204px;
  font-size: 12px;
  text-align: center;
}
.header-cover {
  border-right: 1px solid #eee;
}
.header-submenu a:last-child .header-cover {
  border-right: none;
}
.header-cover img {
  width: 160px;
  height: 110px;

}
.header-name {
  margin-top: 10px;
  color: #333;
}
.header-price  {
  color:#ff6700;
}

.header-search {
  position: relative;
  margin-top: 25px;
}
.header-search input {
  height: 50px;
  /* 也可以用text-indent设置，但是这种方式右边没有间隙 */
  padding: 0 15px;
  border: 1px solid #ccc;
  /* 不去除的话聚焦会有外边框出现 */
  outline: none;
  font-size: 16px;
}
.header-search input:hover {
  border-color: #aaa;
}
.header-search input:hover ~ .header-searchicon {
  border-color: #aaa;
}
.header-search input:focus {
  border-color: #ff6700;
}
.header-searchicon {
  height: 50px;
  width: 55px;
  background: none;
  border: 1px solid #ccc;
  border-left: none;
}

.header-search input:focus ~ .header-searchicon {
  border-color: #ff6700;
}
.header-searchicon {
  cursor: pointer;
}
.header-searchicon i {
  color: #616161;
  font-size: 20px;
}

.header-searchicon:hover {
  background-color: #ff6700;
}

.header-searchicon:hover i {
  color: #fff;
}

.header-suggest {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  border:1px solid #ff6700;
  border-top: none;
}
.header-search input:focus ~ .header-suggest {
  display: block;
}
.header-suggest a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #333;
}
.header-suggest a:hover {
  background-color: #eee;
}